@media only screen and (max-width: 1200px){
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }

    .row{
        padding: 0 2%;
    }
    .box img{
        height: 150px;
        width: 210px;
        margin-bottom: 15px;
        border-radius: 5%;
    }

}


@media only screen and (max-width: 1023px){
    body{
        font-size: 18px;
    }
    .long-copy{
        width: 80%;
        margin-left: 10%;
    }
    .steps-box{margin-top: 10px;}
    .steps-box:last-child{margin-top: 10px;}
    .works-steps{margin-bottom: 40px;}
    .works-steps:last-of-type{margin-bottom: 60px;}
    .app-screen{width:50%;}
    .box img{
        height: 100px;
        width: 160px;
        margin-bottom: 15px;
        border-radius: 5%;
    }
    .icon-small{
        width: 17px;
        margin-right: 5px;
    }
    .city-feature{font-size: 90%;}
    .plan-box{
        width: 100%;
        margin-left: 0%;
    }
    .plan-price{font-size: 250%;}
    .contact-form{width:80%;}
}

@media only screen and (max-width: 767px){
    body{font-size: 16px;}
        
    .row,
    .hero-text-box{padding: 0 4%;}

    .col{ 
        width: 100%;
        margin: 0 0 4% 0;
    }
    .box div,
    h3{
        text-align: center;
        
    }
    .app-screen{width: 30%;}
    .box img{margin: 0 35%;}

    .main-nav{display: none;}

    h1{font-size: 180%;}
    h2{font-size: 150%;}

    .long-copy{
        width: 100%;
        margin-left: 0%;
    }
    .steps-box:first-child{text-align: center;}

    .works-steps div{
        height: 40px;
        width: 40px;
        margin-right: 15px;
        padding: 4px;
        font-size: 120%;
    }
    .btn-app{margin-left: 10%;}
    
}

@media only screen and (max-width: 480px){
        section{padding: 25px 0;}
        .contact-form{width: 100%;}

}